# CaYaHeatSeeker — Fennec Ombre / Dueling Dragons
# GUI'den kontrol: (i) → Edit Appearance

[Bot Loadout]
team_color_id = 33
custom_color_id = 90
car_id = 4284
decal_id = 4382
wheels_id = 2716
boost_id = 45
antenna_id = 0
hat_id = 0
paint_finish_id = 1681
custom_finish_id = 1681
engine_audio_id = 6919
trails_id = 1997
goal_explosion_id = 2044

[Bot Loadout Orange]
team_color_id = 37
custom_color_id = 70
car_id = 4284
decal_id = 4382
wheels_id = 2716
boost_id = 45
antenna_id = 0
hat_id = 0
paint_finish_id = 1681
custom_finish_id = 1681
engine_audio_id = 5635
trails_id = 1997
goal_explosion_id = 2044

[Bot Paint Blue]
car_paint_id = 3
decal_paint_id = 0
wheels_paint_id = 12
boost_paint_id = 5
antenna_paint_id = 0
hat_paint_id = 0
trails_paint_id = 5
goal_explosion_paint_id = 12

[Bot Paint Orange]
car_paint_id = 3
decal_paint_id = 0
wheels_paint_id = 12
boost_paint_id = 1
antenna_paint_id = 0
hat_paint_id = 0
trails_paint_id = 1
goal_explosion_paint_id = 1